docs/n8n-pan-cashier-redeem.json
{
  "name": "PAN - Cashier Redemption Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "🔢 Process Cashback",
        "formDescription": "Enter the 4-digit PIN the customer is showing you and the total bill amount.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "OTP",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "4-digit PIN from customer"
            },
            {
              "fieldLabel": "Amount",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Cashier Form",
      "webhookId": "pan-cashier-redeem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uat.cashbackapp.cloud/api/redeem",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "={{ $vars.PAN_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "otpCode",
              "value": "={{ $json['OTP'] }}"
            },
            {
              "name": "purchaseAmount",
              "value": "={{ $json['Amount'] }}"
            },
            {
              "name": "merchantURL",
              "value": "={{ $json.query.murl }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Call Redeem API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "Success?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Cashier Form').item.json.query.mid }}",
        "text": "=✅ <b>Redemption Complete!</b>\n\n👤 {{ $('Call Redeem API').item.json.data.customerName }}\n🏷️ Redeemed: Ks {{ $('Call Redeem API').item.json.data.redeemedAmount }}\n💰 New Cashback: Ks {{ $('Call Redeem API').item.json.data.newCashbackAmt }}\n🧾 Purchase: Ks {{ $('Call Redeem API').item.json.data.purchaseAmount }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 180],
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Success Message",
      "credentials": {
        "telegramApi": {
          "id": "1JWTAD3T5mQJSAtS",
          "name": "PyanAnnNgwe_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Cashier Form').item.json.query.mid }}",
        "text": "=❌ <b>Redemption Failed</b>\n\n{{ $('Call Redeem API').item.json.error ?? 'Unknown error' }}\n\nPlease check the PIN and try again.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 420],
      "id": "b2c3d4e5-0002-4000-8000-000000000005",
      "name": "Error Message",
      "credentials": {
        "telegramApi": {
          "id": "1JWTAD3T5mQJSAtS",
          "name": "PyanAnnNgwe_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Success?').item.json.ok === true ? '✅ Done! The customer has been notified.' : '❌ ' + ($('Call Redeem API').item.json.error ?? 'Error') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 300],
      "id": "b2c3d4e5-0002-4000-8000-000000000006",
      "name": "Form Response"
    }
  ],
  "connections": {
    "Cashier Form": {
      "main": [
        [
          {
            "node": "Call Redeem API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Redeem API": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Message": {
      "main": [
        [
          {
            "node": "Form Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Message": {
      "main": [
        [
          {
            "node": "Form Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
