docs/n8n-pan-cashier-combined.json
{
  "name": "PAN - Cashier Redemption Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pan-merchant-notify",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-432, -608],
      "id": "2c9f1a3f-bf8f-4d8d-bfb7-3c2b507b19be",
      "name": "Webhook",
      "webhookId": "1d27a919-10cb-493f-9afe-e7ada10ee3dc"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.body.merchantTelegramID }}",
        "message": "=🔔 <b>New Cashback Customer</b>\n\n👤 <b>Customer:</b> {{ $json.body.customerName }}\n💰 <b>Balance:</b> Ks {{ $json.body.totalCashback }}\n\nAsk customer for their 4-digit PIN, then tap Redeem to process.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "4-digit PIN from customer",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Amount",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Note",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-192, -608],
      "id": "a4301253-8969-40bc-810c-7fb776c00861",
      "name": "Notify Cashier",
      "webhookId": "b79f3a23-72fe-4dd5-8f3d-84ffb98e6007",
      "credentials": {
        "telegramApi": {
          "id": "1JWTAD3T5mQJSAtS",
          "name": "PyanAnnNgwe_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uat.cashbackapp.cloud/api/redeem",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-secret",
              "value": "REPLACE_WITH_API_SECRET"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "otpCode",
              "value": "={{ $json['4-digit PIN from customer'] }}"
            },
            {
              "name": "purchaseAmount",
              "value": "={{ $json['Amount'] }}"
            },
            {
              "name": "merchantURL",
              "value": "={{ $('Webhook').item.json.body.merchantURL }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, -608],
      "id": "c1d28c49-72b3-4446-94ca-f96afdbe84cc",
      "name": "Call Redeem API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, -608],
      "id": "71de783c-6bc9-4bce-80f0-70d29a51861b",
      "name": "Success?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook').item.json.body.merchantTelegramID }}",
        "text": "=✅ <b>Redemption Complete!</b>\n\n👤 {{ $('Call Redeem API').item.json.data.customerName }}\n🏷️ Redeemed: Ks {{ $('Call Redeem API').item.json.data.redeemedAmount }}\n💰 New Cashback: Ks {{ $('Call Redeem API').item.json.data.newCashbackAmt }}\n🧾 Purchase: Ks {{ $('Call Redeem API').item.json.data.purchaseAmount }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, -720],
      "id": "a756afd2-a77b-4f19-a114-5e05764e36ba",
      "name": "Success Message",
      "credentials": {
        "telegramApi": {
          "id": "1JWTAD3T5mQJSAtS",
          "name": "PyanAnnNgwe_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook').item.json.body.merchantTelegramID }}",
        "text": "=❌ <b>Redemption Failed</b>\n\n{{ $('Call Redeem API').item.json.error ?? 'Unknown error' }}\n\nPlease check the PIN and try again.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, -480],
      "id": "631bad90-b396-4c78-ba29-8eb0ce8eecf9",
      "name": "Error Message",
      "credentials": {
        "telegramApi": {
          "id": "1JWTAD3T5mQJSAtS",
          "name": "PyanAnnNgwe_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Notify Cashier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Cashier": {
      "main": [
        [
          {
            "node": "Call Redeem API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Redeem API": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
