docs/n8n-pan-cashier-combined.json
{
  "name": "UAT - PAN - Customer Cashback Issued",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "earn-img-check",
              "leftValue": "={{ $('Webhook1').item.json.body.customerMessage.imageURL }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-960, -416],
      "id": "89db1e50-dbe4-4154-84b6-5952bbc5f1ba",
      "name": "Earn Has Image?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "text": "={{ $('Webhook1').item.json.body.customerMessage.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-736, -304],
      "id": "306b0655-edf7-4276-9039-0bae804f12c6",
      "name": "Customer Earn (Text)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "file": "={{ $('Webhook1').item.json.body.customerMessage.imageURL }}",
        "additionalFields": {
          "caption": "={{ $('Webhook1').item.json.body.customerMessage.text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-736, -544],
      "id": "5e30925a-0ac9-4f69-b232-56f0fcb1d11f",
      "name": "Customer - Earn Image",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Webhook1').item.json.body.merchantTelegramID }}",
        "message": "=🔔🔔🔔\n\nဆိုင်မှာ ဝယ်ယူသူ {{ $('Webhook1').item.json.body.customerName }} က {{ $('Webhook1').item.json.body.totalCashback }} ကျပ် ငွေပြန်အမ်းငွေကို ရယူဖို့ ကြိုးစားနေပါတယ်\n\nဝယ်ယူသူ၏ OTP ကို redeem ကို နှိပ်ပြီးနောက်​​ရိုက်ထည့်ပါ",
        "responseType": "customForm",
        "formFields": {
          "values": [
            { "fieldLabel": "OTP", "fieldType": "number", "requiredField": true },
            { "fieldLabel": "Amount", "fieldType": "number", "requiredField": true },
            { "fieldLabel": "Note", "fieldType": "textarea" }
          ]
        },
        "options": {
          "messageButtonLabel": "Redeem",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-480, -416],
      "id": "fd1b9387-794b-4a3c-b8f1-83241c3fe773",
      "name": "Notify Cashier1",
      "webhookId": "b79f3a23-72fe-4dd5-8f3d-84ffb98e6007",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook1').item.json.body.appBaseURL }}/api/redeem",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-secret", "value": "68a089fb9c0d7643610f5ae05842e12cd525892a917037a0ef9bd298293663b1" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "otpCode", "value": "={{ $json.data.OTP }}" },
            { "name": "purchaseAmount", "value": "={{ $json.data.Amount }}" },
            { "name": "merchantURL", "value": "={{ $('Webhook1').item.json.body.merchantURL }}" }
          ]
        },
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, -416],
      "id": "00476bbe-a87f-44f9-94d4-5befcbdc38e2",
      "name": "Call Redeem API"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [0, -416],
      "id": "231c8e3a-d882-432d-97f4-919a889644cd",
      "name": "Success?1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.merchantTelegramID }}",
        "text": "=🎉🎉🎉​\n\n✅ ဂုဏ်ယူပါတယ်ရှင်။\n\n{{ $('Call Redeem API').item.json.data.customerName }} ရဲ့ ပြန်အမ်းငွေ - Cashback {{ $('Call Redeem API').item.json.data.redeemedAmount }} ကျပ် ပြန်လည်ထုတ်ယူမှု အောင်မြင်ပါတယ်ရှင်။\n\n{{ $json.data.expiryDateFormatted }} တွင် ကုန်ဆုံးမည့် ပြန်အမ်းငွေ - Cashback {{ $('Call Redeem API').item.json.data.newCashbackAmt }} ကျပ်ကိုလည်း နောက်တစ်ကြိမ်သုံးဖို့ ပေးထားပါတယ်ရှင်။",
        "additionalFields": { "appendAttribution": false, "parse_mode": "HTML" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [240, -528],
      "id": "6ef3388e-5005-4269-9e43-f2ee74e2973c",
      "name": "Cashier Success",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "success-img-check",
              "leftValue": "={{ $('Call Redeem API').item.json.data.customerMessage?.imageURL }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, -528],
      "id": "aa111111-0000-4000-8000-000000000001",
      "name": "Success Has Image?"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "file": "={{ $('Call Redeem API').item.json.data.customerMessage.imageURL }}",
        "additionalFields": {
          "caption": "={{ $('Call Redeem API').item.json.data.customerMessage.text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, -640],
      "id": "aa222222-0000-4000-8000-000000000002",
      "name": "Customer Success (Photo)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "text": "={{ $('Call Redeem API').item.json.data.customerMessage.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, -432],
      "id": "aa333333-0000-4000-8000-000000000003",
      "name": "Customer Success (Text)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.merchantTelegramID }}",
        "text": "=❌❌❌\n\n​စိတ်မကောင်းပါဘူးရှင်။ 🙏✨\n\nဝယ်ယူသူ {{ $('Webhook1').item.json.body.customerName }} မှ ပြန်အမ်းငွေ - Cashback ပမာဏ {{ $('Webhook1').item.json.body.totalCashback }} ကျပ် ထုတ်ယူရန် ကြိုးစားမှုသည် OTP ကုဒ် မှားယွင်းနေပါသဖြင့် မအောင်မြင်ပါရှင်။\n\nဝယ်ယူသူအား ဆိုင်ရဲ့ သီးသန့်ကုဒ် (Merchant Code) လေးကို ထပ်ပေးပို့ပေးရန် ပြောပေးပါ။",
        "additionalFields": { "appendAttribution": false, "parse_mode": "HTML" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [240, -288],
      "id": "94750427-3c53-4f07-8e98-4e9e396b31df",
      "name": "Cashier Error",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "fail-img-check",
              "leftValue": "={{ $('Call Redeem API').item.json.customerMessage?.imageURL }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, -288],
      "id": "c2111a24-c8df-4a49-bf6f-3a76f4571a2e",
      "name": "Fail Has Image?"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "file": "={{ $('Call Redeem API').item.json.customerMessage.imageURL }}",
        "additionalFields": {
          "caption": "={{ $('Call Redeem API').item.json.customerMessage.text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, -368],
      "id": "bb5f2468-32ef-43f9-8a1c-7c7efcd2d1c5",
      "name": "Customer Fail (Photo)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "text": "={{ $('Call Redeem API').item.json.customerMessage?.text || 'Your redemption could not be completed. Please try again.' }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, -208],
      "id": "d7af138a-384f-4bfd-b7d9-8f26b30b2300",
      "name": "Customer Fail (Text)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pan-merchant-notify",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, -416],
      "id": "dd745866-dd70-4330-bc06-3d0fdda3d9ae",
      "name": "Webhook1",
      "webhookId": "1d27a919-10cb-493f-9afe-e7ada10ee3dc"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [[{ "node": "Earn Has Image?", "type": "main", "index": 0 }]]
    },
    "Earn Has Image?": {
      "main": [
        [{ "node": "Customer - Earn Image", "type": "main", "index": 0 }],
        [{ "node": "Customer Earn (Text)", "type": "main", "index": 0 }]
      ]
    },
    "Customer - Earn Image": {
      "main": [[{ "node": "Notify Cashier1", "type": "main", "index": 0 }]]
    },
    "Customer Earn (Text)": {
      "main": [[{ "node": "Notify Cashier1", "type": "main", "index": 0 }]]
    },
    "Notify Cashier1": {
      "main": [[{ "node": "Call Redeem API", "type": "main", "index": 0 }]]
    },
    "Call Redeem API": {
      "main": [[{ "node": "Success?1", "type": "main", "index": 0 }]]
    },
    "Success?1": {
      "main": [
        [{ "node": "Cashier Success", "type": "main", "index": 0 }],
        [{ "node": "Cashier Error", "type": "main", "index": 0 }]
      ]
    },
    "Cashier Success": {
      "main": [[{ "node": "Success Has Image?", "type": "main", "index": 0 }]]
    },
    "Success Has Image?": {
      "main": [
        [{ "node": "Customer Success (Photo)", "type": "main", "index": 0 }],
        [{ "node": "Customer Success (Text)", "type": "main", "index": 0 }]
      ]
    },
    "Cashier Error": {
      "main": [[{ "node": "Fail Has Image?", "type": "main", "index": 0 }]]
    },
    "Fail Has Image?": {
      "main": [
        [{ "node": "Customer Fail (Photo)", "type": "main", "index": 0 }],
        [{ "node": "Customer Fail (Text)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
