docs/n8n-pan-redemption-cancelled.json
{
  "name": "UAT - PAN - Redemption Cancelled",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pan-redemption-cancelled",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, 0],
      "id": "cc000001-0000-4000-8000-000000000001",
      "name": "Webhook1",
      "webhookId": "pan-redemption-cancelled"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "id": "has-image",
              "leftValue": "={{ $json.body.customerMessage.imageURL }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-400, 0],
      "id": "cc000002-0000-4000-8000-000000000002",
      "name": "Customer Has Image?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "binaryData": false,
        "photo": "={{ $('Webhook1').item.json.body.customerMessage.imageURL }}",
        "caption": "={{ $('Webhook1').item.json.body.customerMessage.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-160, -120],
      "id": "cc000003-0000-4000-8000-000000000003",
      "name": "Customer Cancel (Photo)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.customerTelegramID }}",
        "text": "={{ $('Webhook1').item.json.body.customerMessage.text }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-160, 120],
      "id": "cc000004-0000-4000-8000-000000000004",
      "name": "Customer Cancel (Text)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.merchantTelegramID }}",
        "text": "=⚠️ {{ $('Webhook1').item.json.body.customerName }} ၏ cashback PIN ကို ပယ်ဖျက်ပြီ။ PIN ထည့်ပေးရန် မလိုပါ။",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [80, -120],
      "id": "cc000005-0000-4000-8000-000000000005",
      "name": "Notify Merchant (Photo path)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Webhook1').item.json.body.merchantTelegramID }}",
        "text": "=⚠️ {{ $('Webhook1').item.json.body.customerName }} ၏ cashback PIN ကို ပယ်ဖျက်ပြီ။ PIN ထည့်ပေးရန် မလိုပါ။",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [80, 120],
      "id": "cc000006-0000-4000-8000-000000000006",
      "name": "Notify Merchant (Text path)",
      "credentials": { "telegramApi": { "id": "vjliuOCYYRY2eaMq", "name": "UAT PAN" } }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [[{ "node": "Customer Has Image?", "type": "main", "index": 0 }]]
    },
    "Customer Has Image?": {
      "main": [
        [{ "node": "Customer Cancel (Photo)", "type": "main", "index": 0 }],
        [{ "node": "Customer Cancel (Text)",  "type": "main", "index": 0 }]
      ]
    },
    "Customer Cancel (Photo)": {
      "main": [[{ "node": "Notify Merchant (Photo path)", "type": "main", "index": 0 }]]
    },
    "Customer Cancel (Text)": {
      "main": [[{ "node": "Notify Merchant (Text path)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
